/* COLORS */
/* #f8f4ed */ /* primary background */



/* ####### SHARED ##########*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #f8f4ed;
}

.primary-bg {
    background-color: #f8f4ed;
}

h1 {    
    font-size: 3.75rem;
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.gradient-text {
    background-image: linear-gradient(#9c886a, #5b4b33);
    color: transparent;
    background-clip: text;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: .75rem 2rem;

    span{
        font-weight: 100;
    }
    .nav-link {
        position: relative;
        display: inline-block;
        color: #333;
        text-decoration: none;
        padding: 0.25rem 0;
        transition: color 0.3s ease;
    }
      
    .nav-link::after {
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left center; 
        transition: transform 0.3s ease;
    }
      
    .nav-link:hover {
        color: #000;
    }
    
    .nav-link:hover::after {
        transform: scaleX(1); 
    }
}

/* ###### MAIN PAGE ######### */

#hero {
    padding: 2rem 2rem 4rem 2rem;
    background-color: #f8f4ed;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;

    img {
        max-width: 800px;
        width: 100%;
        height: auto;
    }

    #date-and-description {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        #description {
            max-width: 700px;
            font-size: 1.5rem;
        }
    }
}

#details-wrapper{
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    #details {
        background-color: #f8f4ed;
        display: flex;
        border: 2px solid white;
        border-radius: 8px;
        padding: 3rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        .schedule-item {
            display: flex;
            gap: 1rem;
            align-items: center;
            flex-direction: column;
            width: 50%;
        }
    }
}

#registry-wrapper {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    #registry-details {
        display: flex;
        border: 2px solid white;
        border-radius: 8px;
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #payment-details{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            img {
                object-fit: contain;
                height: 100%;
                width: 40%;
            }
        }
    }
}

#photo-gallery {
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
        object-fit: contain;
        height: 100%;
    }

    .six-piece {
        width: 38.5%;
    }

    .four-piece {
        width: 30.75%;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

/* ###### RSVP PAGE ######### */

#rsvp-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem;

    #rsvp-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
        max-width: 450px;
        padding: 1.5rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);

        #form-status{
            width: 100%; 
            box-sizing: border-box;
            word-break: break-all;
            padding: 0.75rem 1rem; 
            border: 1px solid #f8d7da; 
            background-color: #f8d7da; 
            color: #842029; 
            font-size: 1rem; 
            font-weight: 500; 
            border-radius: 5px;
            text-align: center; 
        }
      }

      .form-item {
        width: 100%;
      }
      
      #rsvp-form label {
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        color: #333;
        margin-bottom: 0.25rem;
        text-align: left;
      }
      
      #rsvp-form input,
      #rsvp-form select,
      #rsvp-form textarea {
        width: 100%;
        padding: 0.75rem;
        border: none;
        background: #edf1f8a5;
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
        color: #333;
        box-sizing: border-box;
      }

      #rsvp-form select{
        appearance: none;
      }
      
      #rsvp-form input:focus,
      #rsvp-form select:focus,
      #rsvp-form textarea:focus {
        outline: none;
        box-shadow: 0 0 2px 2px #7599dbb9;
      }
      
      /* Textarea can be slightly taller by default */
      #rsvp-form textarea {
        min-height: 120px;
        resize: vertical;
      }
      
      /* Button styles */
      #rsvp-form button {
        background: #7598db;
        color: white;
        padding: 0.75em 1.5em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
      
        /* Add a hover/focus transition effect for a smoother feel */
        transition: background-color 0.3s ease, transform 0.2s ease;
      }
      
      #rsvp-form button:hover,
      #rsvp-form button:focus {
        border: none;
        background: #7598db;
        animation: rise-shake 1s ease-in-out infinite, pulsate 1s ease-in-out infinite;;
      }
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px #7598db;
    }
    50% {
        box-shadow: 0 0 50px #7598db;
    }
    100% {
        box-shadow: 0 0 5px #7598db;
    }
}

@keyframes rise-shake {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }
    10% {
        transform: translateY(-5px) translateX(0) rotate(0deg); /* Rise up */
    }
    20% {
        transform: translateY(-5px) translateX(-4px) rotate(-5deg); /* Shake left with tilt */
    }
    30% {
        transform: translateY(-5px) translateX(4px) rotate(5deg); /* Shake right with tilt */
    }
    40% {
        transform: translateY(-5px) translateX(-4px) rotate(-5deg); /* Shake left with tilt */
    }
    50% {
        transform: translateY(-5px) translateX(4px) rotate(5deg); /* Shake right with tilt */
    }
    60% {
        transform: translateY(-5px) translateX(0) rotate(0deg); /* Return to center */
    }
    100% {
        transform: translateY(0) translateX(0) rotate(0deg); /* Settle back */
    }
}

/* ##### THANK YOU PAGE ###### */

#thank-you-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: #666;
        font-style: italic;
    }

    #thank-you-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 800px;
        gap: 0.75rem;
    }
}

/* ###### RESPONSIVE ADJUSTMENTS ######### */

@media (max-width: 600px) {
    nav{
        padding: .75rem 1rem;
    }

    #hero {
        gap: 1.5rem;
        #date-and-description {
            #description{
                font-size: 1.25rem;
            }
        }
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    img {
        max-width: 100%;
    }

    #rsvp-page {
        margin: 0.5rem 1rem;
    }
    #details-wrapper {
        padding: 1.5rem;

        #details {
            flex-direction: column;
            padding: 1.5rem;
    
            .schedule-item {
                display: flex;
                gap: 0.75rem;
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
        }
    }

    #registry-wrapper {
        padding: 1.5rem;

        #registry-details {
            padding: 1.5rem;
            #payment-details{
                flex-direction: column;
                img{
                    width: 100%;
                }
            }
        }
    }

    #photo-gallery {
        padding: 1.5rem;
        flex-direction: column;

        .six-piece, .four-piece {
            width: 100%;
        }
    }

}

/* Use flex for spacing between schedule events */
.schedule-events {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

/* Minimal styling for links in schedule events */
.schedule-events a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

.schedule-events a:hover {
    border-bottom: 1px solid #333;
}

.event {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.event-description {
    text-align: center;
    font-size: 1.05rem;
}

.event-title {
    display: flex;
    justify-content: space-between;
}
