body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
    margin: 0 auto;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: #f0e9dd;
    padding: .75rem 2rem;
}

#main-content {
    padding: 0 10%;
    max-width: 1200px;
    background-color: #f0e9dd;
}

header {
    text-align: center;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

h1 {    
    font-size: 3.75rem;
    font-weight: 600;
    margin: 0;
}

section {
    margin: 0rem auto;
    max-width: 800px;
    text-align: center;
}

#date-and-rsvp {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #description{
        font-size: 1.5rem;
    }
}

#details-wrapper{
    background-color: #f0e9dd;
    padding: 2rem;
    border: 2rem solid white;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        font-size: 2.5rem;
        margin: 0;
    }

    #details {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
        .schedule-item {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            flex-direction: column;
            width: 33%;
            
            h3 {
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }
}

#registry-wrapper {
    margin-bottom: 5rem;

    h2 {
        margin: 0;
        font-size: 2.5rem;
    }
}



img {
    max-width: 75%;
    max-height: auto;
}

@media (max-width: 600px) {
    header {
        padding: 2rem 1rem;
        gap: 1.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    img {
        max-width: 100%;
    }
    #details-wrapper {
        margin-top: 1rem;
        #details {
            flex-direction: column;
    
            .schedule-item {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}

.button {
    background: #d95f5f;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: #c54e4e;
}

footer {
    background: #f7d9d9;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

.hidden {
    display: none;
}
  