* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
    margin: 0 auto;
    color: #333;
}

.primary-bg {
    background-color: #f0e9dd;
}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: #f0e9dd;
    padding: .75rem 2rem;

    span{
        font-weight: 100;
    }
    .nav-link {
        position: relative;
        display: inline-block;
        color: #333;
        text-decoration: none;
        padding: 0.25rem 0;
        transition: color 0.3s ease;
    }
      
    .nav-link::after {
        content: '';
        position: absolute;
        left: 0; 
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        transform: scaleX(0);
        transform-origin: left center; 
        transition: transform 0.3s ease;
    }
      
    .nav-link:hover {
        color: #000;
    }
    
    .nav-link:hover::after {
        transform: scaleX(1); 
    }
}

#main-content {
    padding: 0 10%;
    max-width: 1200px;
    background-color: #f0e9dd;
}

#rsvp-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 2rem;
    h1 {
        background-image: linear-gradient(#c9b08a, #756142);
        color: transparent;
        background-clip: text;
    }

    #rsvp-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
        max-width: 450px;
        padding: 1.5rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.05);

        #form-status{
            width: 100%; 
            box-sizing: border-box;
            word-break: break-all;
            padding: 0.75rem 1rem; 
            border: 1px solid #f8d7da; 
            background-color: #f8d7da; 
            color: #842029; 
            font-size: 1rem; 
            font-weight: 500; 
            border-radius: 5px;
            text-align: center; 
        }
      }

      .form-item {
        width: 100%;
      }
      
      #rsvp-form label {
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        color: #333;
        margin-bottom: 0.25rem;
        text-align: left;
      }
      
      #rsvp-form input,
      #rsvp-form select,
      #rsvp-form textarea {
        width: 100%;
        padding: 0.75rem;
        border: none;
        background: #f0e9dd4e;
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
        color: #333;
        box-sizing: border-box;
      }

      #rsvp-form select{
        appearance: none;
      }
      
      #rsvp-form input:focus,
      #rsvp-form select:focus,
      #rsvp-form textarea:focus {
        outline: none;
        box-shadow: 0 0 2px 2px #c9b08a;
      }
      
      /* Textarea can be slightly taller by default */
      #rsvp-form textarea {
        min-height: 120px;
        resize: vertical;
      }
      
      /* Button styles */
      #rsvp-form button {
        background: #b29364df;
        color: white;
        padding: 0.75em 1.5em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
      
        /* Add a hover/focus transition effect for a smoother feel */
        transition: background-color 0.3s ease, transform 0.2s ease;
      }
      
      #rsvp-form button:hover,
      #rsvp-form button:focus {
        border: none;
        background: #b29364;
        animation: rise-shake 1s ease-in-out infinite, pulsate 1s ease-in-out infinite;;
      }
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px #b29364;
    }
    50% {
        box-shadow: 0 0 50px #b29364;
    }
    100% {
        box-shadow: 0 0 5px #b29364;
    }
}

@keyframes rise-shake {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
    }
    10% {
        transform: translateY(-5px) translateX(0) rotate(0deg); /* Rise up */
    }
    20% {
        transform: translateY(-5px) translateX(-4px) rotate(-5deg); /* Shake left with tilt */
    }
    30% {
        transform: translateY(-5px) translateX(4px) rotate(5deg); /* Shake right with tilt */
    }
    40% {
        transform: translateY(-5px) translateX(-4px) rotate(-5deg); /* Shake left with tilt */
    }
    50% {
        transform: translateY(-5px) translateX(4px) rotate(5deg); /* Shake right with tilt */
    }
    60% {
        transform: translateY(-5px) translateX(0) rotate(0deg); /* Return to center */
    }
    100% {
        transform: translateY(0) translateX(0) rotate(0deg); /* Settle back */
    }
}

#thank-you-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h1 {
        background-image: linear-gradient(#9c886a, #5b4b33);
        color: transparent;
        background-clip: text;
    }
    .subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: #666;
    }

    #thank-you-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 800px;
    }
}

header {
    text-align: center;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}

h1 {    
    font-size: 3.75rem;
    font-weight: 600;
    margin: 0;
}

section {
    margin: 0rem auto;
    max-width: 800px;
    text-align: center;
}

#date-and-rsvp {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #description{
        font-size: 1.5rem;
    }
}

#details-wrapper{
    background-color: #f0e9dd;
    padding: 2rem;
    border: 2rem solid white;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        font-size: 2.5rem;
        margin: 0;
    }

    #details {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    
        .schedule-item {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            flex-direction: column;
            width: 33%;
            
            h3 {
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }
}

#registry-wrapper {
    margin-bottom: 5rem;

    h2 {
        margin: 0;
        font-size: 2.5rem;
    }
}



img {
    max-width: 75%;
    max-height: auto;
}

@media (max-width: 600px) {
    nav{
        padding: .75rem 1rem;
    }

    header {
        padding: 2rem 1rem;
        gap: 1.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    img {
        max-width: 100%;
    }
    #rsvp-page {
        margin: 0.5rem 1rem;
    }
    #details-wrapper {
        margin-top: 1rem;
        #details {
            flex-direction: column;
    
            .schedule-item {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
        }
    }

}

.hidden {
    display: none;
}
  